<%= form_for @question do |form| %>

  <p>
    <%= form.label :comment, "Question" %>
    <%= form.text_field :comment %>
  </p>

  <p class='buttons'>
    <%= form.submit "Submit" %>
  </p>

<% end %>
