<h1>Add a new Question</h1>
<%= form_for @question, url: {action: :create, id: @survey.id} do |form| %>

  <p>
    <%= form.label :comment, "Question" %>
    <%= form.text_field :comment %>
  </p>

  <p class='buttons'>
    <%= form.submit "Submit" %>
  </p>

<% end %>
