<h1>Add a new Response</h1>
<%= form_for @response, url: {action: :create, id: @question.id} do |form| %>

  <p>
    <%= form.label :response, "Post your Comment" %>
    <%= form.text_area :response, cols: "30", rows: "10" %>
  </p>

  <p class='buttons'>
    <%= form.submit "Submit" %>
  </p>

<% end %>